body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.mcdu {
    display:flex;
    justify-content:center; 
}

.mcdu-panel {
    position: relative;
    display: inline-block;
}

.mcdu-panel > img {
    z-index:10;
    max-height: 100vh;
}

.mcdu-bg, .mcdu-fg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.mcdu-bg {
    z-index: -1;
}

.mcdu-lcd {
    background-color:#000;
    width: 100%;
    height: 100%;
}

.mcdu-lcd img {
    position: absolute;
    top: 7.1%;
    left: 12.5%;
    width: 74.8%;
}

[data-used-universe="1"] .screen-glow {
    filter: brightness(50) blur(0.2vh);
    opacity: 0.15;
}

.mcdu-lcd-dust img {
    display: none;
    position: absolute;
    top: 6%;
    left: 13%;
    width: 73.5%;
    opacity: 0.5;
    transform: scale(-1,1);
    filter: blur(0.1vh);
}

[data-used-universe="1"] .mcdu-lcd-dust img {
    display: inline-block;
}

[data-button] {
    position: absolute;
}

[data-showbuttons="1"] [data-button] {
    background-color: red;
    opacity: 0.5;
}

.glassbutton {
    top: 6%;
    left: 13%;
    width: 73.5%;
    height: 40%    
}

.skbutton {
    width: 6.5%;
    height: 3.2%;
    border-radius: 0.2vh;
}

.menubutton {
    width: 10.1%;
    height: 4.1%;
    border-radius: 0.2vh;
}

.numberbutton {
    width: 7.2%;
    padding-bottom: 7.2%;
    border-radius: 50%;
}

.alphabutton {
    width: 7.2%;
    padding-bottom: 7.2%;
    border-radius: 0.2vh;
}

.skbuttons-left .skbutton {
    left: 1.5%;
}

.skbuttons-right .skbutton {
    right: 1.5%;
}

.sk-1 {
    top: 12.1%;
}

.sk-2 {
    top: 17.2%;
}

.sk-3 {
    top: 22.3%;
}

.sk-4 {
    top: 27.5%;
}

.sk-5 {
    top: 32.7%;
}

.sk-6 {
    top: 37.8%;
}

.menu-row1 .menubutton {
    top: 48.7%;
}

.menu-row2 .menubutton {
    top: 53.8%;
}

.menu-row3 .menubutton {
    top: 58.9%;
}

.menu-row4 .menubutton {
    top: 64%;
}

.menu-row5 .menubutton {
    top: 69.1%;
}

.menu-col1 {
    left: 12%;
}

.menu-col2 {
    left: 24.5%;
}

.menu-col3 {
    left: 37.1%;
}

.menu-col4 {
    left: 49.6%;
}

.menu-col5 {
    left: 62.1%;
}

.menu-col6 {
    left: 74.6%;
}

.number-row1 .numberbutton {
    top: 74.9%;
}

.number-row2 .numberbutton {
    top: 80.4%;
}

.number-row3 .numberbutton {
    top: 85.8%;
}

.number-row4 .numberbutton {
    top: 91.3%;
}

.number-col1 {
    left: 11.5%;
}

.number-col2 {
    left: 21.7%;
}

.number-col3 {
    left: 31.7%;
}

.alphabutton-row1 .alphabutton {
    top: 61.5%;
}

.alphabutton-row2 .alphabutton {
    top: 67.3%;
}

.alphabutton-row3 .alphabutton {
    top: 73.4%;
}

.alphabutton-row4 .alphabutton {
    top: 79.4%;
}

.alphabutton-row5 .alphabutton {
    top: 85.4%;
}

.alphabutton-row6 .alphabutton {
    top: 91.4%;
}

.alphabutton-col1 {
    left: 41.5%;
}

.alphabutton-col2 {
    left: 51.8%;
}

.alphabutton-col3 {
    left: 62.2%;
}

.alphabutton-col4 {
    left: 72.57%;
}

.alphabutton-col5 {
    left: 82.9%;
}
